*Going for a walk in the (random) forest.*

# Random forests

### Imports

In [9]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from sklearn import metrics

#### Load data
Recall that low_memory=False commands the module to read in the file before assigning data types. Not using it now, may later.

In [5]:
cleaned_df = pd.read_csv('cleaned_df.csv')
cleaned_df.shape

(60446, 7)

### One hot encoding
Here, we take categorical data and convert it to arbitrary numerical representation.

In [6]:
# One-hot encode the data using pandas get_dummies
cleaned_df = pd.get_dummies(cleaned_df) 
cleaned_df.head()

,Unnamed: 0,Price,Summary_7 pcs summer dresses bundle (pls read description),Summary_brand new reformation bianca skirt,Summary_cropped lululemon leggings size 4,Summary_diane von furstenberg gennifer two linen pants new,Summary_euc lululemon pace setter skirt white tennis run golf train size 4 tall,Summary_floral lululemon shorts,Summary_gray lulu lemon shorts,Summary_ivivva by lululemon girls sz 8 windbreaker jacket coat gray,...,Brand_lululemon,Condition_New,Condition_PreOwned,Category_bottoms,Category_bras,Category_dresses,Category_outerwear,Category_tops,Site_Poshmark,Site_eBay
0,2,48.00,0,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,1
1,3,41.00,0,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,1
2,4,16.00,0,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,1
3,5,37.95,0,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,1
4,8,15.00,0,0,0,0,0,0,0,0,...,1,1,0,0,1,0,0,0,0,1

The shape of the data is now different, and all of the column are numbers.

### Features, targets, array conversion

I'll now separate the data into the feature/independent/predictor variables and target/label/dependent/predicted variable. 

I'll also convert the df to numpy arrays for easily digestion by the algorithm.

I'm also saving the column headers, which are the names of the features, to a list to use for later visualization.

In [8]:
labels = np.array(cleaned_df['Price'])

# Remove the labels from the features
# axis = 1 refers to the columns
features = cleaned_df.drop('Price', axis = 1)

# Saving feature names for later use
feature_list = list(cleaned_df.columns)

# Convert to numpy array
features = np.array(features)

### Training/testing split

I am setting the random state (equivalent to set.seed) to 22- which means the results will be the same each time I run the split.

In [ ]:
train_features, test_features, train_labels, test_labels = train_test_split(features, 
                                                                            labels, test_size = 0.2, 
                                                                            random_state = 42)